<main class='bg-[#181d31] h-screen flex flex-col justify-center gap-10'>
  <section class='flex flex-col items-center gap-1'>
    <%= image_tag('image-chat.png', width: 100) %>
    <h1 class= 'text-4xl font-bold text-4 text-white my-4' >Chat-App - Ruby on Rails 7</h1>
    <p class= 'font-semibold text-white'>This is the Chat-App for RoR</p>
  </section>

  <section class='flex flex-col items-center'>
    <h2 class='text-white font-bold text-2xl mo-5'>Log in</h2>            
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'flex flex-col') do |f| %>
      <div class="flex gap-1 my-2 items-center w-96">
        <%= f.label :email, class:'text-white font-semibold text-sm w-24' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'text-sm font-medium rounded w-full' %>
      </div>

      <div class="flex gap-1 my-2 items-center w-96">
        <%= f.label :password, class:'text-white font-semibold text-sm w-24' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'text-sm font-medium rounded w-full' %>
      </div>

      <div class="flex gap-1 my-5 items-center justify-center">
        <%= f.submit "Log in", data: {turbo: false}, class:'bg-green-800 rounded p-3 text-white font-semibold' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </section>
</main>